.button {
  padding: 0.4rem;
  margin-top: 1.6rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #e7e7e7;
}
