.card {
  font-size: 1.4rem;
  padding: var(--sm-pd);
  border: 0.25px solid #d7d7d7;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.4);
  cursor: move;
  transition: transform 100ms;
  margin-top: 1.6rem;
}

.card:hover {
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card--text {
  margin: 0.8rem 0;
}
